## Stats

**{{ total_files }}** files | **{{ total_lines }}** lines | ~**{{ estimated_tokens }}** tokens | Extensions: {{ extensions | join(', ') }}
{% if skipped_count > 0 %}
Skipped: {{ skipped_count }} file(s)
{% endif %}
